PORT=3000
NODE_ENV=development
APP_NAME=EventManager
JWT_SECRET=change_me
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=event_manager
UPLOAD_DIR=uploads
CORS_ORIGIN=http://localhost:3001
ADMIN_FULL_NAME=Administrador General
ADMIN_EMAIL=admin@clubdeleones.bo
ADMIN_PASSWORD=ChangeMe!
